html,
body {
  display: block !important;
  height: 100%;
  font-weight: bold;
  color: rgb(213, 213, 213);
}

.main {
  max-width: 450px;
  margin: 0 auto;
}

[hidden] {
  display: none;
}

button {
  height: 30px;
  width: 80px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: grey;
  cursor: pointer;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

div.hc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.stat {
  position: absolute;
  right: 5px;
  text-align: right;
  font-style: bold;
  /* bottom:60px%; */
}
.warning {
  color: yellow;
}

.ver {
  /* position: absolute; */
  /* right: 5px; */
  /* bottom:0px; */
  /* text-align: left; */
  font-style: italic;
}

body {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/button-ico-512-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}
.flex-right {
  /* margin-left: auto; */
}

.hidden {
  display: none !important;
}

.btnctrl {
  height: unset !important;
  border: solid;
}

.item-container {
  gap: 2px;
  padding: 8px;
  display: grid;
  grid-template-columns: auto auto;
}

a:-webkit-any-link:active,
a:-webkit-any-link {
  color: rgb(213, 213, 213);
}
