button#options {
  width: 22px;
  height: 22px;
  border: 0;
  opacity: 0.5;
  background-image: url(images/gear.svg?background#background);
  background-repeat: no-repeat;
  transition: opacity 0.1s ease-in;
  flex-shrink: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  height: 30px;
  width: 100%;
  outline: none;
  margin: 10px 30px 12px;
  border: none;
  border-radius: 8px;
  font-weight:bold;
  color: white;
  cursor: pointer;	
  opacity: 0.5;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

#videoAction {
  background-color: green; 
  display: none;
  min-height: 30px;
  height: unset;
  padding: 8px 12px;
}
/* #subtitleAction {background-color: red;}
#textAction {background-color: blue;} */


div.hc {
	display:flex; 
	justify-content: center;
	align-items: center; 
	text-align: center;
}

h1{
  font-size: large;
  text-align: center;
}

h2{
  font-size: medium;
  text-align: center;
}

button#options:hover,
button#options:focus,
button:hover,
button:focus {
  opacity: 1;
}

#saving {
  display: none;
}

#searching {
  display: block;
}


#pdebug {
    text-align: center;
    outline: none;
    margin: 10px 30px 20px;
    padding: 8px 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: default;
    opacity: 0.8;
    background-color: red;
    display: none;
}



